<ul>
  <li>{{#linkTo 'index'}}Home{{/linkTo}}</li>
  <li>{{#linkTo 'workouts'}}Workout{{/linkTo}}</li>
  <li>{{!#linkTo}}Sign Up{{!/linkTo}}</li>
</ul>
<div="container">
  <h1>Praesto</h1>
  {{outlet}}
</div>
